---
import Section from "../../components/Section.astro";
---

<article class="flex flex-col gap-1 text-gray-700 dark:text-gray-300 max-w-3xl">
  <h1
    class="text-3xl capitalize font-bold flex flex-col sm:text-5xl tracking-tight text-gray-800 dark:text-white"
  > 
    <span class="text-lg font-semibold text-gray-700 dark:text-gray-300">hello buddy!</span> i'm marlon mogollon
  </h1>
  <p
    class="text-md sm:text-xl my-5 text-pretty [&>strong]:font-bold [&>strong]:text-[#ffd803] dark:[&>strong]:text-yellow-300"
  >
    With experience in the world of web development. Recently graduated as a <strong
      >Systems Engineer and Full Stack Developer</strong
    >. From Zulia, Venezuela. With the ability to create and design unique Apps
    for you, as well as solve problems.
  </p>
  <Section />
</article>
