---
import Section from "../../components/Section.astro";
import Scroll from "../../components/Scroll.astro";

//class="p-3 border-dashed border-cyan-50 border-4 rounded-md"
---

<article class="flex flex-col gap-1 text-gray-700 dark:text-gray-300 max-w-3xl">
  <h1
    class="text-3xl capitalize font-bold flex flex-col sm:text-5xl tracking-tight"
  > 
    <span class="text-lg font-semibold">hello buddy!</span> i'm marlon mogollon
  </h1>
  <p
    class="text-md sm:text-xl my-5 text-pretty [&>strong]:font-bold [&>strong]:text-[#ffd803] dark:[&>strong]:text-yellow-300"
  >
    <!--1 year of experience in the development world. <strong>Systems Engineering student
    and computer technician</strong>. From Zulia, Venezuela. With the ability to create
    and design unique Apps for you, as well as solve problems.-->
    With experience in the world of web development. Recently graduated as a <strong
      >Systems Engineer and Full Stack Developer</strong
    >. From Zulia, Venezuela. With the ability to create and design unique Apps
    for you, as well as solve problems.
  </p>
  <Section />
</article>
