<footer class="w-[80vw] h-full flex justify-between items-center m-5 p-3 rounded-md dark:bg-gray-800/60 bg-white/50 ring-white/10 backdrop-blur">
  <div>
    <small>© 2024 MarlonDev. By love for Developer Community.</small>
  </div>
  <section class="flex items-center justify-center">
      <small>About me</small>
      <small>Contacto</small>
  </section>
</footer>